<div>
  <jce-user-form (userAddedEvent) = "addUser($event)"></jce-user-form>
  <h3>List of Invoices:</h3>
  <jce-spinner [visible] = "isLoading"></jce-spinner>
  <ul class="list-group users">
        <li class="list-group-item" *ngFor = "let user of users" 
          [class.active]="currentUser == user"
          (click)="select(user)" >
            <jce-user [user] = user (deleteEvent) = "deleteUser($event)"
                                    (editEvent) = "editUser($event)"></jce-user> 
      
        <ul>
          <li *ngFor = "let title of user.posTitles">
            {{(title | async)?.title}}
          </li>
        </ul>                                     
        </li>
      
  </ul>
</div>