<h1>
  {{title}}
</h1>

<nav>
  <a routerLink="/invoic-form-component" routerLinkActive="active" >Invoic Form</a> | 
  <a routerLink="/invoices-component" routerLinkActive="active">Invoices</a> |
  <a routerLink="/fire" routerLinkActive="active">Firebase test</a>
</nav>

<!-- <jce-users></jce-users> -->
<router-outlet></router-outlet>
<!-- Routed views go here -->