<h2>Add Invoice</h2>
<form (ngSubmit) = "onSubmit(f)" #f = "ngForm">
  <div class="form-group">
    <label for="name">Product Name</label>
    <input type="text"
            class="form-control"
            id="name"
            name = "name"
            required
            [(ngModel)] = "user.name">
             <div *ngIf="!email.valid">
        Please fill Product name
      </div>     
  </div>
  <div class="form-group">
    <label for="email">Amount</label>
    <input type="text"
            class="form-control"
            id="email"
            value= "bob"
            name = "email" 
            required
            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
            [(ngModel)] = "user.email"
            #email="ngModel">
      <div *ngIf="!email.valid">
      Please fill amount
      </div>       
  </div>
  <button type="submit" class="btn btn-primary" >Save Invoice</button>
</form>
